<!doctype html>
<html ng-app="app">
	<head>
		<title>Decode - ShiiFu</title>
		<script src="libs/angular.min.js"></script>
		<script src="libs/clipboard.min.js"></script>
		<script src="libs/angular-flash.min.js"></script>
		<script src="libs/ui-bootstrap-tpls.min.js"></script>
		<script src="app.js"></script>
		<script src="filter.js"></script>
		<script src="function.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	</head>
	<body>
		<div id="controller" ng-controller="Decode" class="container-fluid">
			<div class="row">
				<h2 class="col-md-11">Simple way to decode or encode something</h2>
				<div class="col-md-1 media">
					<a href="https://github.com/ShiiFu/decode/tree/gh-pages"><img class="media-object media-middle" src="assets/GitHub-Mark-64px.png" /></a>
				</div>
			</div>
			<div flash-alert active-class="in" class="alert fade">
				<span class="alert-message">{{flash.message}}</span>
			</div>
			<div class="row top-buffer">
				<div class="col-md-5">
					<textarea ng-model="message" placeholder="Message" class="form-control box-shadow" rows="4" autofocus></textarea>
				</div>
				<div class="col-md-2">
					<button ng-repeat="(name, categorie) in categories" ng-show="!categorie.parent" ng-click="setCategorie(name)"  class="col-md-12 btn" ng-class="selectedCategorie == name ? 'btn-primary' : 'btn-default'">{{ name }}</button>
				</div>
				<div class="col-md-2">
					<button ng-repeat="(name, categorie) in categories" ng-show="categorie.parent == selectedCategorie" ng-click="setSubCategorie(name)"  class="col-md-12 btn" ng-class="selectedSubCategorie == name ? 'btn-info' : 'btn-default'">{{ name }}</button>
				</div>
				<div class="col-md-3">
					<button ng-repeat="(name, code) in codes" ng-show="code.parent==selectedCategorie || code.parent==selectedSubCategorie" ng-click="setType(name)" class="col-md-6 btn" ng-class="type == name ? 'btn-success' : 'btn-default'">{{ name }}</button>
				</div>
			</div>
			<hr />
			<div class="row top-buffer">
				<div class="col-md-6">
					<div>
						<h3>Select your results</h4>
						<uib-accordion close-others="oneAccordionAtATime">
							<div uib-accordion-group ng-repeat="(name, categorie) in categories" ng-show="!categorie.parent" class="panel-default" heading="{{name}}" >
								<div ng-repeat="(nameSub, categorieSub) in categories" ng-if="categorieSub.parent == name" class="row top-buffer-tiny">
									<div class="col-md-2">
										{{ nameSub }}
									</div> 
									<div class="col-md-10 btn-group">
										<label ng-repeat="(nameCode, code) in codes" ng-if="code.parent==name || code.parent==nameSub" class="btn btn-primary" ng-model="codes[nameCode].display" uib-btn-checkbox>{{ nameCode }}</label>
									</div>
								</div>
							</div>
						</uib-accordion>
					</div>
				</div>
				<div ng-repeat="(name, code) in codes" ng-init="codes[name].display = true" ng-show="type != name && codes[name].display == true" class="col-md-3">
					<div class="thumbnail">
						<div class="row">
							<h3 class="col-md-10 col-xs-10">{{ name }}</h4>
							<a class="copy col-md-2 col-xs-2" data-clipboard-action="copy" data-clipboard-target="#{{name}}">
								<img 
									uib-tooltip="Copy the result to clipboard"
									tooltip-trigger="'mouseenter'"
									tooltip-placement="right"
									ng-init="img='assets/copy-icon-black.png'"
									ng-mouseover="img='assets/copy-icon-grey.png'"
									ng-mouseleave="img='assets/copy-icon-black.png'"
									ng-src="{{img}}"
								/>
							</a>
						</div>
						<div id="{{name}}" class="scrollbar">
							{{ message | decode:type:name:codes }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="script.js"></script>
	</body>
</html>
